*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}
html,body{
    height: 100%;
    width: 100%;
}
#box1{
    height: 10vw;
    width: 10vw;
    background-color: yellow;
    margin: 3vw 3vw;
    border: solid 2px black;
    padding: 55px 60px;
    font-size: 30px;
}
#box2{
    height: 10vw;
    width: 10vw;
    background-color: royalblue;
    margin: 3vw 3vw;
    border: solid 2px black;
    padding: 55px 60px;
    font-size: 30px;
}
#box3{
    height: 10vw;
    width: 10vw;
    background-color: limegreen;
    margin: 3vw 3vw;
    border: solid 2px black;
    padding: 55px 60px;
    font-size: 30px;
}